#search-people {
  width: 300px;
  display: inline;
  margin: 8px;
  position: relative;
  left: 200px;
}
#asc-desc-people {
  width: 130px;
  display: inline;
  position: relative;
  left: 190px;
}
#attending-people {
  width: 130px;
  display: inline;
  position: relative;
  left: 210px;
}
