<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" ui-sref="home">EPAM Grill Party</a>
      </div>
      <input ng-show="currentNav == 'home'" ng-model="fields.searchedValue" ng-keydown="search()" id="search-people" type="text" class="form-control">
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{active: currentNav == 'home'}">
          <a ui-sref="home">
            <i class="fa fa-home"></i> Home
          </a>
        </li>
        <li ng-class="{active: currentNav == 'sign-up'}">
          <a ui-sref="register">
            <i class="fa fa-shield"></i> Register </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
