.status-text{
  display: none;
}

.will-be{
  display: block;
  color: green;
}

.maybe-will-be{
  display: block;
  color: #7a8018;
}

.will-not-be{
  display: block;
  color: red;
}

.brought{
  display: block;
  color: darkgray;
}

.well{
  min-height: 185px;
}

