.status-text{
  display: none;
}

.will-be{
  display: block;
  color: green;
}

.maybe-will-be{
  display: block;
  color: #7a8018;
}

.will-not-be{
  display: block;
  color: red;
}

.brought{
  display: block;
  color: darkgray;
}

.well{
  min-height: 185px;
}

.employee.ng-enter{
  animation: showOn 0.5s ease-in;
}

.employee.ng-leave{
  animation: hideOut 0.5s ease-in;
}

@keyframes showOn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes hideOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
